@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Android';
    src: url(../fontes/idroid.otf);
}
/*PSEUDO CLASSE*/
:root {
    --cor0: #A3F7F2;
    --cor1: #58F5EE;
    --cor2: #46C2BC;
    --cor3: #2A7572;
    --cor4: #4D7573;

    --fonte-padrao: Arial, Helvetica, sans-serif ;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-android: 'Android', sans-serif;
}

body {
    background-color: white;
    font-family: var(--fonte-padrao);    

}

* {
    margin: 0px;
    padding: 0px;
}

header {
    background-image: linear-gradient(to bottom, var(--cor2), var(--cor4));    
    text-align: center;
}

header > h1 {
    color: white;
    font-family: var(--fonte-destaque);
    font-size: 3em;
    font-weight: normal;
    margin-bottom: 20px;
    text-align: center;
    padding-top: 40px;
    padding-left: 10px;
    padding-right: 10px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    
}

header > p {
    color: white;
    font-family: var(--fonte-padrao);
    max-width: 500px;
    margin: auto;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

nav {
    background-color: var(--cor4);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.3);
}


nav > a {
    color: var(--cor1);
    text-decoration: none;
    font-weight: bold;   
    padding: 10px;
   
}

nav > a:hover {
    background-color: var(--cor1);
    color: var(--cor4);
    border-radius: 5px;
}

main {
    background-color: white
    ;
    min-width: 300px;
    max-width: 800px;
    margin: auto;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
}

main h1 {
    font-family: var(--fonte-android);
    font-weight: normal;
}

main h2 {
    font-family: var(--fonte-android);
    font-size: 1.3em;
    font-weight: normal;
    background-image: linear-gradient(to right, var(--cor0), transparent);
}

main p {
    margin: 20px 0px ;
    text-indent: 50px;
    line-height: 1.2em;
    text-align: justify;
}

main a {
    background-color: var(--cor0);
    color: var(--cor4);
    font-weight: bold;
    padding: 0px 10px;
    text-decoration: none;
}

main a:hover {
    color: var(--cor2);
    text-decoration:underline
}

main img {
    width: 100%;
}

main img.imagem {
    width: 50%;
    display: block;
    margin: auto;
}

aside {
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
}

aside h3 {
    background-color: var(--cor4);
    color: white;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px;
}

ul {
    columns: 2;
    list-style-position: inside;
}

footer {
    background-color: var(--cor4);
    padding: 10px;
    color: white;
    font-family: var(--fonte-padrao);
    font-size: 0.8em;
    text-align: center;    
}

footer a {
    text-decoration: none;
    color: white;
}



